@use '../../../../style/const/size';

.interspace {
  &__left {
    &--none {
      margin-left: size.$none;
    }

    &--tiny {
      margin-left: size.$tiny;
    }

    &--small {
      margin-left: size.$small;
    }

    &--medium {
      margin-left: size.$medium;
    }

    &--big {
      margin-left: size.$big;
    }

    &--huge {
      margin-left: size.$huge;
    }

    &--double-huge {
      margin-left: size.$double-huge;
    }
  }

  &__top {
    &--none {
      margin-top: size.$none;
    }

    &--tiny {
      margin-top: size.$tiny;
    }

    &--small {
      margin-top: size.$small;
    }

    &--medium {
      margin-top: size.$medium;
    }

    &--big {
      margin-top: size.$big;
    }

    &--huge {
      margin-top: size.$huge;
    }

    &--double-huge {
      margin-top: size.$double-huge;
    }
  }

  &__right {
    &--none {
      margin-right: size.$none;
    }

    &--tiny {
      margin-right: size.$tiny;
    }

    &--small {
      margin-right: size.$small;
    }

    &--medium {
      margin-right: size.$medium;
    }

    &--big {
      margin-right: size.$big;
    }

    &--huge {
      margin-right: size.$huge;
    }

    &--double-huge {
      margin-right: size.$double-huge;
    }
  }

  &__bottom {
    &--none {
      margin-bottom: size.$none;
    }

    &--tiny {
      margin-bottom: size.$tiny;
    }

    &--small {
      margin-bottom: size.$small;
    }

    &--medium {
      margin-bottom: size.$medium;
    }

    &--big {
      margin-bottom: size.$big;
    }

    &--huge {
      margin-bottom: size.$huge;
    }

    &--double-huge {
      margin-bottom: size.$double-huge;
    }
  }
}
