:root {
  --primary-color: #0a0a0a;
  --secondary-color: #141414;
  --primary-text-color: #e5e5e5;
  --secondary-text-color: #b3b3b3;
  --accent-color: #cfb53b;
  --hover-color: #e1c16e;
  --error-color: #d9534f;
  --success-color: #5cb85c;
  --info-color: #5bc0de;
  --border-color: #292929;
}
