:host {
  display: block;
}

.children {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media (min-width: 480px) {
    gap: 1.5rem;
  }

  @media (min-width: 1024px) {
    gap: 2rem;
  }
}
