// @use 'sass:map';
// @use 'sass:meta';

// @function get-map-value($map, $key) {
//   @if not map.has-key($map, $key) {
//     @error 'The map does not have #{$key} element!';
//   }
//   @return map.get($map, $key);
// }

// @mixin check-type($key, $value, $type) {
//   $curr-type: meta.type-of($value);
//   @if $curr-type != $type {
//     @error 'The type of #{$key} must be #{$type} but is #{$curr-type}';
//   }
// }

// @mixin color-palette-validator($color-palette-element) {
//   $name: get-map-value($color-palette-element, 'name');
//   @include check-type('name', $name, 'string');
//   $value: get-map-value($color-palette-element, 'value');
//   @include check-type('value', $value, 'color');
//   $tonal-scale: get-map-value($color-palette-element, 'tonal-scale');
//   @include check-type('tonal-scale', $tonal-scale, 'bool');
// }
