@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:host {
  display: block;
}

.text {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;

  &__paragraph {
    font-size: 1rem;
  }

  &__header {
    &1 {
      font-size: 2rem;
    }

    &2 {
      font-size: 1.8rem;
    }

    &3 {
      font-size: 1.6rem;
    }

    &4 {
      font-size: 1.4rem;
    }

    &5 {
      font-size: 1.2rem;
    }

    &6 {
      font-size: 1rem;
    }
  }

  &__small {
    font-size: 0.8rem;
  }
}
