@switch (type()) {
  @case ('p') {
    <p class="text text__paragraph">{{ value() }}</p>
  }
  @case ('h1') {
    <h1 class="text text__header1">{{ value() }}</h1>
  }
  @case ('h2') {
    <h2 class="text text__header2">{{ value() }}</h2>
  }
  @case ('h3') {
    <h3 class="text text__header3">{{ value() }}</h3>
  }
  @case ('h4') {
    <h4 class="text text__header4">{{ value() }}</h4>
  }
  @case ('h5') {
    <h5 class="text text__header5">{{ value() }}</h5>
  }
  @case ('h6') {
    <h6 class="text text__header6">{{ value() }}</h6>
  }
  @case ('small') {
    <small class="text text__small">{{ value() }}</small>
  }
}
