.section {
  &__color {
    &--primary {
      background-color: var(--color-primary);
    }

    &--secondary {
      background-color: var(--color-secondary);
    }
  }

  &__padding {
    &--md {
      padding: var(--size-medium);
    }

    &--xl {
      padding: var(--size-extra-large) var(--size-medium);
    }
  }

  &__container {
    &--max {
      max-width: var(--width-full);
    }

    &--container {
      max-width: var(--width-container);
    }
  }
}
