.section {
  border: 1px solid red;

  &__padding {
    &--md {
      padding: var(--size-medium);
    }

    &--xl {
      padding: var(--size-extra-large) var(--size-medium);
    }
  }

  &__container {
    border: 1px solid blue;

    &--max {
      max-width: var(--width-full);
    }

    &--container {
      max-width: var(--width-container);
    }
  }
}
