body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  min-width: 300px;
  background-color: var(--color-primary-background);
  font-size: 100%;
}

@media (max-width: 480px) {
  body {
    font-size: 70%;
  }
}
