@use '../../../../style/builder/padding-builder';

.section {
  @include padding-builder.padding-builder__build(
    $left: 'md',
    $top: 'xxl',
    $right: 'md',
    $bottom: 'xxl'
  );
  border: 1px solid red;
}
