<section-block id="technology" title="Technology" [color]="rootColor">
  <flex-util direction="column" gap="medium">
    @for (technology of technology$ | async; track technology) {
      <flex-item-util>
        <heading-text
          [level]="4"
          [rootColor]="rootColor"
          [value]="technology.groupData.name"
        ></heading-text>
      </flex-item-util>
      <flex-item-util>
        <flex-util gap="small">
          @for (category of technology.category; track category) {
            @for (technology of category.technology; track technology) {
              <technology-dumb
                [icon]="technology.technologyData.className"
                [rootColor]="rootColor"
                [value]="technology.technologyData.name"
              ></technology-dumb>
            }
          }
        </flex-util>
      </flex-item-util>
    }
  </flex-util>
</section-block>
