:host {
  display: block;
}

.small {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.75rem;

  &__color {
    &--dominant {
      color: var(--dominant);
    }

    &--accent {
      color: var(--accent);
    }
  }
}
