@use '../../../../style/const/size';

.padding {
  &__vertical {
    &--none {
      padding-top: size.$none;
      padding-bottom: size.$none;
    }

    &--small {
      padding-top: size.$small;
      padding-bottom: size.$small;
    }

    &--medium {
      padding-top: size.$medium;
      padding-bottom: size.$medium;
    }

    &--big {
      padding-top: size.$big;
      padding-bottom: size.$big;
    }

    &--huge {
      padding-top: size.$huge;
      padding-bottom: size.$huge;
    }

    &--double-huge {
      padding-top: size.$double-huge;
      padding-bottom: size.$double-huge;
    }
  }

  &__horizontal {
    &--none {
      padding-left: size.$none;
      padding-right: size.$none;
    }

    &--small {
      padding-left: size.$small;
      padding-right: size.$small;
    }

    &--medium {
      padding-left: size.$medium;
      padding-right: size.$medium;
    }

    &--big {
      padding-left: size.$big;
      padding-right: size.$big;
    }

    &--huge {
      padding-left: size.$huge;
      padding-right: size.$huge;
    }

    &--double-huge {
      padding-left: size.$double-huge;
      padding-right: size.$double-huge;
    }
  }
}
