/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --background-color: #121212; /* Main background */
  --secondary-background: #191919; /* Section background */
  --primary-text: #e5e5e5; /* Primary text color */
  --secondary-text: #b3b3b3; /* Secondary text color */
  --accent-color: #cfb53b; /* Gold accent */
  --hover-color: #e1c16e; /* Lighter gold on hover */
  --error-color: #d9534f; /* Red for errors */
  --success-color: #5cb85c; /* Green for success */
  --info-color: #5bc0de; /* Blue for informational messages */
  --border-color: #292929; /* Dark borders */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 300px;
  font-family: 'Lato', serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--background-color);
}
