@use '../const/size-const';

@function choose($kind) {
  @if ($kind == 'none') {
    @return size-const.$none;
  } @else if ($kind == 'xs') {
    @return size-const.$xs;
  } @else if ($kind == 'sm') {
    @return size-const.$sm;
  } @else if ($kind == 'md') {
    @return size-const.$md;
  } @else if ($kind == 'lg') {
    @return size-const.$lg;
  } @else if ($kind == 'xl') {
    @return size-const.$xl;
  } @else if ($kind == 'xxl') {
    @return size-const.$xxl;
  } @else {
    @error "Not supported kind!";
  }
}
