:root {
  --color-primary: 210;
}

:root {
  --color-primary-50: hsl(var(--color-primary) 100% 95%);
  --color-primary-100: hsl(var(--color-primary) 95% 90%);
  --color-primary-200: hsl(var(--color-primary) 90% 80%);
  --color-primary-300: hsl(var(--color-primary) 85% 70%);
  --color-primary-400: hsl(var(--color-primary) 80% 60%);
  --color-primary-500: hsl(var(--color-primary) 75% 50%);
  --color-primary-600: hsl(var(--color-primary) 70% 40%);
  --color-primary-700: hsl(var(--color-primary) 65% 30%);
  --color-primary-800: hsl(var(--color-primary) 60% 20%);
  --color-primary-900: hsl(var(--color-primary) 55% 15%);
}

:root {
  --color-primary-background: var(--color-primary-500);
}
