:host {
  display: block;
}

.technology {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  border: 1px solid var(--dominant);
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
}
