:host {
  display: inline-block;
}

.technology {
  border-radius: 0.25rem;
  padding: 0.25rem;

  &__color {
    &--dominant {
      border: 1px solid var(--dominant);
    }

    &--complementary {
      border: 1px solid var(--complementary);
    }

    &--accent {
      border: 1px solid var(--accent);
    }
  }
}
