<div class="technology" [ngClass]="buildColor()">
  <padding-util horizontal="tiny" vertical="tiny">
    <flex-util [directionRow]="true" alignItems="center" gap="small">
      <flex-item-util>
        <svg-image [property]="['fill']" [color]="color()" [model]="svg()"></svg-image>
      </flex-item-util>
      <flex-item-util>
        <heading-text
          [property]="['color']"
          [level]="6"
          [color]="color()"
          [value]="value()"
        ></heading-text>
      </flex-item-util>
    </flex-util>
  </padding-util>
</div>
