:host {
  display: block;
}

.section {
  padding: 4rem 1rem;

  &__color {
    &--dominant {
      background-color: var(--dominant);
    }

    &--accent {
      background-color: var(--accent);
    }
  }
}
