<section [id]="id()" class="section" [ngClass]="buildColor()">
  <margin-util maxWidth="960px">
    <padding-util vertical="double-huge" horizontal="medium">
      <flex-util gap="huge">
        <flex-item-util>
          <heading-text
            [color]="[['color', titleColor()]]"
            [level]="2"
            [value]="title()"
          ></heading-text>
        </flex-item-util>
        <flex-item-util>
          <ng-content></ng-content>
        </flex-item-util>
      </flex-util>
    </padding-util>
  </margin-util>
</section>
