:host {
  display: block;
}

.section {
  padding: 2rem 1rem;
  background-color: var(--dominant);

  @media (min-width: 480px) {
    padding: 3rem 1.5rem;
  }

  @media (min-width: 1024px) {
    padding: 4rem 2rem;
  }
}
