@use 'style/builder/min-width-builder';

* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  @include min-width-builder.min-width-builder__build('min');
}

// html {
//   font-size: 100%;
// }

// body {
//   font-family: 'Inter', sans-serif;
//   font-optical-sizing: auto;
//   font-weight: 400;
//   font-style: normal;
// }

// @media (max-width: 480px) {
//   html {
//     font-size: 80%;
//   }
// }

// @media (min-width: 480px) and (max-width: 1024px) {
//   html {
//     font-size: 90%;
//   }
// }

// @media (min-width: 1024px) and (max-width: 1920px) {
//   html {
//     font-size: 100%;
//   }
// }

// @media (min-width: 1920px) {
//   html {
//     font-size: 120%;
//   }
// }

// body {
//   min-width: 300px;
// }
