* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dominant: #2a4494;
  --complementary: #8b8db9;
  --accent: #f8f8ff;
}

html {
  font-size: 100%;
}

@media (max-width: 480px) {
  html {
    font-size: 80%;
  }
}

@media (min-width: 480px) and (max-width: 1024px) {
  html {
    font-size: 90%;
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {
  html {
    font-size: 100%;
  }
}

@media (min-width: 1440px) {
  html {
    font-size: 120%;
  }
}
