:root {
  --width-min: 300px;
  --width-container: 960px;
  --width-full: 100%;
  --size-extra-small: 0.5rem;
  --size-small: 0.75rem;
  --size-medium: 1rem;
  --size-large: 2rem;
  --size-extra-large: 3rem;
}

* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: var(--width-min);
}
