:host {
  display: block;
}

.experience-view {
  padding: 2rem 1rem;
  background-color: var(--dominant);
  font-family: 'Open Sans', sans-serif;
  color: var(--accent);

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__experience {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &-content {
      &-header {
        margin-bottom: 1rem;

        &-title {
          display: flex;
          align-items: center;
          gap: 1rem;

          &-mark {
            background-color: green;
            padding: 0.25rem 0.5rem;
            border-radius: 0.25rem;
          }
        }
      }

      &-description {
        margin-left: 1rem;
        margin-bottom: 1rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &-technology {
      &-list {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        list-style: none;

        &-item {
          background-color: var(--complementary);
          padding: 0.25rem 0.5rem;
          border-radius: 0.25rem;
        }
      }
    }
  }

  &__line {
    color: var(--complementary);
  }

  @media (min-width: 480px) {
    padding: 3rem 1.5rem;

    &__content {
      gap: 2rem;
    }

    &__experience {
      flex-direction: row;
      gap: 2rem;

      &-content {
        flex: 2;
      }

      &-technology {
        flex: 1;
      }
    }
  }

  @media (min-width: 1024px) {
    padding: 4rem 2rem;

    &__content {
      gap: 3rem;
      max-width: 960px;
      margin: auto;
    }
  }
}
