<section class="experience-view">
  <div class="experience-view__experiences">
    @for (experience of experiences$ | async; track experience.companyType; let last = $last) {
      <article class="experience">
        <div class="experience__content">
          <h4>{{ experience.experience.title }} · {{ experience.company.name }}</h4>
          <small>
            {{ experience.experience.startDate.toDateString() }} ·
            {{ experience.experience.endDate?.toDateString() ?? 'Present' }}
          </small>
          <br />
          <p>{{ experience.company.city }}, {{ experience.company.country }}</p>
          <p>
            {{ experience.experience.employmentType }}, {{ experience.experience.locationType }}
          </p>
          <br />
          <ul class="experience__content-list">
            @for (item of experience.experience.description; track item) {
              <li>{{ item }}</li>
            }
          </ul>
        </div>
        <div class="experience__technology">
          <ul class="experience__technology-list">
            @for (group of experience.group; track group.groupType) {
              @for (category of group.category; track category.categoryType) {
                @for (technology of category.technology; track technology.technologyType) {
                  <li class="experience__technology-list-item">
                    {{ technology.technologyData.name }}
                  </li>
                }
              }
            }
          </ul>
        </div>
      </article>
      @if (!last) {
        <hr />
      }
    }
  </div>
</section>
