// @use 'sass:map';
// @use '../const';
// @use '../util';
// @use '../validator';

// @mixin color-builder($property) {
//   .#{$property} {
//     @each $color in const.$color-palette {
//       @include validator.color-palette-validator($color);
//       $name: map.get($color, 'name');
//       $value: map.get($color, 'value');
//       $tonal-scale: map.get($color, 'tonal-scale');
//       &__#{$name} {
//         @if $tonal-scale {
//           @each $scale, $tonal-scale-color in util.tonal-scale($value) {
//             &--#{$scale} {
//               #{$property}: var(--color-#{$name}-#{$scale});
//             }
//           }
//         } @else {
//           #{$property}: var(--color-#{$name});
//         }
//       }
//     }
//   }
// }

// @include color-builder('fill');
// @include color-builder('background-color');
// @include color-builder('color');
// @include color-builder('border-color');
