@use '../chooser/size-chooser';

@mixin build($top, $right, $bottom, $left) {
  $padding-top: size-chooser.choose($top);
  $padding-right: size-chooser.choose($right);
  $padding-bottom: size-chooser.choose($bottom);
  $padding-left: size-chooser.choose($left);
  padding: $padding-top $padding-right $padding-bottom $padding-left;
}
