// @use 'sass:map';
// @use '../const';
// @use '../util';
// @use '../validator';

// :root {
//   @each $color in const.$color-palette {
//     @include validator.color-palette-validator($color);
//     $name: map.get($color, 'name');
//     $value: map.get($color, 'value');
//     $tonal-scale: map.get($color, 'tonal-scale');
//     @if $tonal-scale {
//       @each $scale, $tonal-scale-color in util.tonal-scale($value) {
//         --color-#{$name}-#{$scale}: #{$tonal-scale-color};
//       }
//     } @else {
//       --color-#{$name}: #{$value};
//     }
//   }
// }
