@use '../../../../style';

.flex {
  display: flex;
  flex-direction: column;

  &__gap {
    &--none {
      gap: style.$none;
    }

    &--small {
      gap: style.$small;
    }

    &--medium {
      gap: style.$medium;
    }

    &--big {
      gap: style.$big;
    }

    &--huge {
      gap: style.$huge;
    }
  }
}
