:host {
  display: block;
}

.flex {
  display: flex;

  &--wrap {
    flex-wrap: wrap;
  }

  &__direction {
    &--column {
      flex-direction: column;
    }
  }

  &__gap {
    &--none {
      gap: 0;
    }

    &--small {
      gap: 0.5rem;
    }

    &--medium {
      gap: 1rem;
    }

    &--big {
      gap: 1.5rem;
    }
  }

  &__align-items {
    &--center {
      align-items: center;
    }
  }

  &__justify-content {
    &--center {
      justify-content: center;
    }
  }
}
