@use '../../../../style/const/size';

.flex {
  display: flex;
  flex-direction: column;

  &__gap {
    &--none {
      gap: size.$none;
    }

    &--small {
      gap: size.$small;
    }

    &--medium {
      gap: size.$medium;
    }

    &--big {
      gap: size.$big;
    }

    &--huge {
      gap: size.$huge;
    }

    &--double-huge {
      gap: size.$double-huge;
    }
  }

  &__align-items {
    &--start {
      align-items: flex-start;
    }

    &--center {
      align-items: center;
    }

    &--end {
      align-items: flex-end;
    }
  }

  &__direction {
    &--row {
      flex-direction: row;
      flex-wrap: wrap;
    }

    &--column {
      &-small {
        @media (max-width: 480px) {
          flex-direction: column;
        }
      }
    }
  }
}
