:host {
  display: block;
}

.margin {
  &__auto {
    &--left {
      margin-right: auto;
    }

    &--right {
      margin-left: auto;
    }
  }

  &__max-width {
    &--full {
      max-width: 100%;
    }

    &--960px {
      max-width: 960px;
    }
  }
}
