:host {
  display: contents;
}

.icon {
  font-size: 1.5rem;

  &__color {
    &--dominant {
      color: var(--dominant);
    }

    &--complementary {
      color: var(--complementary);
    }

    &--accent {
      color: var(--accent);
    }
  }
}
