<section class="experience">
  <div class="experience__companies">
    @for (experience of experiences$ | async; track experience.companyType) {
      <article class="experience__company">
        <header class="company__header">
          <div class="company__header-icon"></div>
          <component-text-dumb
            type="h3"
            [value]="experience.experience.title + ' · ' + experience.company.label"
          ></component-text-dumb>
        </header>
        <section class="company__content">
          <component-text-dumb
            type="p"
            [value]="experience.experience.startDate + '·' + experience.experience.endDate"
          ></component-text-dumb>
          <component-text-dumb
            type="p"
            [value]="
              experience.company.city +
              ', ' +
              experience.company.country +
              ' · ' +
              experience.experience.employmentType +
              ', ' +
              experience.experience.locationType
            "
          ></component-text-dumb>
          <ul class="company__content-list company__content-description">
            <!-- I am here -->
            @for (item of experience.experience.descriptionList; track item) {
              <li>
                <component-text-dumb type="p" [value]="item"></component-text-dumb>
              </li>
            }
          </ul>
          <ul class="company__content-list company__content-technologies">
            <!-- I am here -->
            @for (group of experience.groups; track group.groupType) {
              @for (category of group.categories; track category.categoryType) {
                @for (technology of category.technologies; track technology.technologyType) {
                  <component-text-dumb
                    type="p"
                    [value]="technology.technologyData.label"
                  ></component-text-dumb>
                }
              }
            }
          </ul>
        </section>
      </article>
    }
  </div>
</section>
