.palette {
  &-brand {
    background-color: var(--color-background-brand);
  }

  &-content {
    background-color: var(--color-background-content);

    &-separation {
      background-color: var(--color-background-content-separation);
    }
  }

  &-footer {
    background-color: var(--color-background-footer);
  }
}
