.palette-brand {
  background-color: var(--color-background-brand);
}

.palette-content {
  background-color: var(--color-background-content);
}

.palette-content-separation {
  background-color: var(--color-background-content-separation);
}

.palette-footer {
  background-color: var(--color-background-footer);
}
