// .palette {
//   &-brand {
//     background-color: var(--color-primary-500);
//     color: var(--color-neutral-100);
//   }

//   &-content {
//     &-light {
//       background-color: var(--color-neutral-100);
//       color: var(--color-neutral-800);

//       &-contrast {
//         background-color: var(--color-neutral-200);
//         color: var(--color-neutral-800);
//       }
//     }

//     &-dark {
//       background-color: var(--color-neutral-800);
//       color: var(--color-neutral-100);
//     }
//   }
// }
